.card {
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  padding: 20px;
  background-color: #fff;
  border-radius: 3px;

  max-width: 300px;

  &--full-width {
    max-width: 100%;
  }

  &__title {
    font-size: 24px;
    font-weight: 600;
    display: block;

    &--second {
      font-size: 16px;
    }
  }
}
