<div class="card" [class.card--full-width]="fullWidth">
  <span class="card__title">This is a title</span>
  <span class="card__title card__title--second">This is a subtitle</span>
  <p class="card__paragraph">This is a paragraph</p>
</div>
